

<div class="formulario">
  <div class="form-group">
    <label class="col-form-label col-form-label-lg text-white bg-warning" for="inputLarge">Tu pregunta sera enviada a nuestros expertos y se te respondera a la brevedad</label>
    <br>
    <label class="col-form-label col-form-label-lg" for="inputLarge">Nombre:</label>
    <input class="form-control form-control-lg" type="text" placeholder="ej. Romain" id="inputLarge" [formControl]="nombre">
  </div>
  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Apellido Paterno :</label>
    <input class="form-control form-control-lg" type="text" placeholder="ej. Hernandez" id="inputLarge" [formControl]="apepat">
  </div>
  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Apellido Materno:</label>
    <input class="form-control form-control-lg" type="text" placeholder="ej. Romo" id="inputLarge" [formControl]="apemat">
  </div>
  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Correo:</label>
    <input class="form-control form-control-lg" type="text" placeholder="Correo al que esperas tu respuesta" id="inputLarge" [formControl]="correo">
  </div>
  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="exampleTextarea" >Ingresa tu pregunta</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" [formControl]="pregunta"></textarea>
  </div>
  <button  type="button" class="btn btn-primary" (click)="enviar()">Enviar!</button>
</div>
