<div class="card-group">
  <div class="card">
    <div class="card-header">
      <p class="card-title"><i class="fas fa-at"></i> Correo Electonico</p>
    </div>
    <div class="card-body">
      <a class="btn btn-primary btn-block" href="#" [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Email log in</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <p class="card-title"><i class="fas fa-mobile-alt"></i> SMS</p>
    </div>
    <div class="card-body">
      <a class="btn btn-block btn-primary" href="#" [routerLink]="['/phone']"><i class="fas fa-sign-in-alt"></i> Phone log in</a>
    </div>
  </div>
</div>
