<div class="card">
  <div class="card-header">
    <p class="fuente">
      Somos una empresa 100% mexicana que se dedica a la renta de equipos de transporte para cualquier tipo de viaje dentro de la República mexicana,
      estamos firmemente comprometidos con tu bienestar, seguridad y comodidad desde el momento que llegas con una idea hasta que la procesamos y
      nos hacemos cargo de hacerla realidad
    </p>
  </div>
  <div class="card-body">
    <img src="././assets/aunto.png" width="1200" height="700">
  </div>
</div>
