<ul class="list-group">
  <li class="list-group-item">
    <p>¿Hasta que estado de la republica puedo solicitar un viaje?</p>
    <p>Puedes hacer tu viaje a cualquier destino de la República Mexicana</p>
  </li>
  <hr>

  <li class="list-group-item">
    <p>¿Cual es el precio que manejan por viaje?</p>
    <p>Puedes contactarte por medio de nuestras redes sociales para contactarte con un vendedor y empezar a generar una cotización</p>
  </li>
  <hr>

  <li class="list-group-item">
    <p>¿Se pueden realizar cambios o cancelación de viaje?</p>
    <p>Claro, se puede cancelar el viaje en cualquier momento, solo si faltan 15 días antes del viaje previsto solo se le regresa la mitad de su depósito</p>
  </li>
  <hr>

  <li class="list-group-item">
    <p>¿Cuentan con alguna promocion?</p>
    <p>A lo largo del año contamos con diferentes promociones, te invitamos a que nos sigas por redes sociales para que no te pierdas ninguna</p>
  </li>
  <hr>
</ul>
