<nav class="navbar navbar-inverse navbar-fixed-left primario" style="background: #050F58" *ngIf="user$ | async as user" >
  <div>
    <div>
      <ul class="nav navbar-nav">
        <li class="nav-link"><a href="#" [routerLink]="['graphics']">Gráficos</a></li>
        <li class="nav-link"><a href="#">Buscar Cliente</a></li>
        <li class="nav-link"><a href="#">Cliente</a></li>
        <li class="nav-link"><a href="#">Nueva Cotizacion</a></li>
        <li class="nav-link"><a href="#">Nuevo Contrato</a></li>
        <li class="nav-link"><a href="#">Nueva Factura</a></li>
        <li class="nav-link"><a href="#">Nuevo Recibopor anticipo</a></li>
        <li class="nav-link"><a href="#">Documentacion de viaticos</a></li>
      </ul>
    </div>
  </div>
</nav>
