<nav class="navbar navbar-inverse navbar-fixed-left" style="background: #E73914">
  <div>
    <div>
      <ul class="nav navbar-nav">
        <li class="nav-link"><a href="#">link 1</a></li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="tree" aria-expanded="false">
            Dropdown <span class="caret"></span>
            <ul class="dropdown-menu">
              <li><a href="#">Link del dropdown</a></li>

            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
