
 .logueado{
  background-size: cover;
  position: relative;
  top:0px; left:140px;
  width: 1225px;
  height: 545px;
  max-width: 100%;

}
.nologueado{
  background-size: cover;
  position: relative;
  top:0px; left:0px;
  width: 1400px;
  height: 545px;
  max-width: 100%;

}



