
 .logueado{
  background-size: cover;
  position: relative;
  top:0px; left:140px;
  width: 1225px;
  height: 545px;
  max-width: 100%;

}
.nologueado{
  background-size: cover;
  position: relative;
  top:0px; left:0px;
  max-width: 100%;
  max-height: 100%;
  width: 1400px;
  height: 545px;
}
.qrCode{
  height: 0px;
  width: 0px;
  top:250px; left:10px;
  position: relative;
  z-index: 70;
}


