<div class="qrCode" *ngIf="user$ | async as user">
  <td>
      <tr>
        <ngx-qrcode 
          [elementType]="elementType" 
          [value] = "value"
          cssClass = "aclass"
          errorCorrectionLevel = "L">
        </ngx-qrcode>
      </tr>
      <tr>
        <p style="color:rgb(255,255,255);">USUARIOS REGISTRADOS</p>
      </tr>
    </td>
</div>
<div class="home">
  <img src="././assets/fondo.jpg"class="img-fluid logueado" alt="Responsive image" *ngIf="user$ | async as user ; else nologueado">
  
</div>
<ng-template #nologueado>
  <img src="././assets/fondo.jpg"class="img-fluid nologueado" alt="Responsive image">
</ng-template>
